<%-include("partials/header")-%>

<section class="main">
  <h1>Home</h1>
  <p><%= homeText %></p>
  <h2>Posts</h2>
  <% newPost.forEach(function(newPost){ %>
  <div class="container">
    <h3><%= newPost.postTitle %></h3>
    <p>
      <%= newPost.postBody.substring(0, 100) + "..." %><a
        href="posts/<%= newPost.postTitle %>"
        >Read more</a
      >
    </p>
  </div>
  <% }); %>
</section>

<%-include("partials/footer")-%>
